server:
  port: 8888

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/ahyahya1616/config-repo-estate-rental
          default-label: main
          clone-on-start: true
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
